.sidebar-col {
  float: var(--sidebar-col-position);
  transition: width .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.cc-law-libray{
  margin-bottom: 0px;
  font-family: var(--font-2);
  color: var(--sidebar-footer-color);
  font-size: 11px;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.sidebar-col.col-3 a:hover,
.sidebar-col.col-3 a:focus{
  color: var(--sidebar-a-color);
}
.white-wrapper {
  padding: 20px;
  border-radius: var(--sidebar-border-radius);
  background-color: var(--sidebar-bg-color);
  box-shadow: var(--sidebar-box-shadow);
}
h2.small-heading {
    background: var(--sidebar-small-heading-bg);
    clear: both;
    color: var(--sidebar-small-heading-color);
    line-height: 20px;
    padding: var(--sidebar-small-heading-padding);
}

.Select-control {
  border-radius: var(--sidebar-border-radius);
}